.header {
    display: flex;
    gap: 4%;
    margin-bottom: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header_img_profile img {
    border-radius: 50%;
}

.header_menu {
    width: 100%;
    align-self: center;
}

.header_menu a {
    text-decoration: none;
}

.header_menu .logo {
    display: inline-flex;
}

.logo_text {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #191a1d;
    font-weight: bold;

}

.logo_text::after {
    max-width: 30%;
    margin-top: 7%;
    height: 6px;
    display: block;
    content: "";
    border-radius: 1000px;
    background: #232939;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

.menu_item {
    margin-top: 1.5%;
    text-transform: uppercase;
    font-weight: bold;
    color: #191a1d;
}

.menu_item_project:hover{
    color: #CE8D66;
}

.menu_item_contact:hover{
    color: #038d51;
}